{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["log"]
      }
    ]
  }
}
